@model Practica__asp.net.Models.BaseDatos

<h1>Crear Registro</h1>
<form asp-action="Create">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Descripción</label>
        <input asp-for="Descripcion" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Guardar en Base de Datos</button>
</form>